@model OnlineExamApp.ViewModel.OptionViewModel

@{
    Layout = null;
}
<p>
    @Html.RadioButtonFor(x => x.Selected, Model.Text, new { Name = "ABC"})  @Model.Text 
    @Html.HiddenFor(x => x.ID)   
</p>
