@*@model OnlineExamApp.ViewModel.OptionViewModel*@
@model OnlineExamApp.Core.IOptionViewModel

@{
    Layout = null;
}
<p>
    @Html.CheckBoxFor(x => x.IsSelected)  @Model.Text
    @Html.HiddenFor(x => x.ID)
</p>
